# Node
node_modules/
.env

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# OS
.DS_Store

# Build
dist/
build/


server/serviceAccountKey.json
# Firebase service account key file, should not be committed to version control